@use '../../foundation/index' as *;

// contact form7
.wpcf7-list-item {
  margin: 0;

  .wpcf7-radio & {
    margin-right: 20rem;
  }
}

// 白枠なし
.form_parts.wpcf7-radio,
.form_parts.wpcf7-select,
.form_parts.wpcf7-file {
  display: block;
  padding: 0;
  background-color: transparent;
}

// CF7ローディング消す
.wpcf7-spinner {
  display: none;
}

//
.contact_form {
  margin: -50rem auto 0;
  width: 1100rem;

  @include media() {
    margin-top: 0;
  }


  & .form_box p {
    display: flex;
    align-items: center;
    margin-top: 40rem;
    font-weight: $regular;
    font-size: 16rem;

    @include media() {
      display: block;
      margin-top: 40rem;
      text-align: left;
      font-size: 32rem;
      line-height: 2.8;
    }

    &::before,
    &::after {
      display: none;
    }
  }

  & .form_text p {
    align-items: flex-start;

    & .form_label {
      margin-top: 10rem;
    }
  }

  & .wpcf7-list-item-label {
    font-size: 16rem;

    @include media() {
      font-size: 32rem;
    }
  }

  & .form_box br {
    display: none;
  }
}

.form_box + br {
  display: none;
}

//Contact 注意事項
.contact_form_title {
  font-size: 20rem;

  @include media() {
    font-size: 13rem;
  }
}

.contact_form_text {
  margin-top: 20rem;
  margin-left: 50rem;
  font-size: 16rem;
  line-height: 2.5;

  @include media() {
    margin-left: 20rem;
    font-size: 12rem;
  }
}

// 項目名
.form_label {
  display: flex;
  align-items: center;
  width: 330rem;
  white-space: nowrap;

  @include media() {
    width: 100%;
    font-size: 12rem;
  }

  &::after {
    content: '任意';
    // display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20rem;
    width: 48rem;
    height: 24rem;
    // padding: 5rem;
    background-color: $color_lightgray;
    color: #fff;
    font-size: 12rem;
    line-height: 1;

    @include media() {
      margin-left: 20rem;
      width: 34rem;
      height: 17rem;
      font-size: 9rem;
    }
  }

  .required &::after {
    content: '必須';
    background-color: #d97575;

    @include media() {
      margin-left: 20rem;
      width: 34rem;
      height: 17rem;
      font-size: 9rem;
    }
  }
}

// 入力欄
.form_parts {
  padding: 22rem 30rem;
  width: 770rem;
  background-color: #fff;
  color: $color_black;

  @include media() {
    margin-top: 15rem;
    padding: .75em 1.5em;
    width: 100%;
    // border: 2rem solid #c8c8c8;
    // border-radius: 10rem;
    font-size: 12rem;
  }

  &::placeholder {
    color: #c7c7c7;
    font-weight: normal;
  }

  &:-webkit-autofill {
    box-shadow: 0 0 0 999px #fff inset;
  }
}

input[type='radio'].form_parts {
  margin-top: 0;
}

textarea {
  height: 230rem;

  @include media() {
    height: 112rem;
  }
}


.mwform-radio-field-text {
  @include media() {
    font-size: 12rem;
  }
}

.check_box {
  margin-top: 80rem;
  text-align: center;

  @include media() {
    margin-top: 50rem;
  }

  & p {
    margin-top: 10rem;
    font-size: 18rem;
    line-height: 2.22222222;

    @include media() {
      font-size: 12rem;
      line-height: 2;
    }
  }

  & span {
    margin-top: 20rem;
    font-size: 16rem;

    @include media() {
      margin-top: 30rem;
      font-size: 12rem;
    }
  }

  & p a {
    color: #153ab4;
    text-decoration: underline;
  }

  .mwform-checkbox-field {
    display: block;
    margin-top: 30rem;
  }
}







// 戻るボタン
.contact_previous_button {
  margin: 60rem auto 0;
  width: 330rem;
  height: 70rem;
  border-radius: 100rem;
  background-color: #fff;
  color: $color_black;
  transition: opacity .4s;

  @include media() {
    width: 654rem;
    height: 112rem;
  }
  @include hover {
    opacity: .6;
  }

  & p {
    margin-top: 0;
  }

  & input {
    display: block;
    width: 100%;
    height: 70rem;
    color: $color_black;
    text-align: center;
    font-weight: $medium;

    @include media() {
      height: 112rem;
      font-weight: $bold;
      font-size: 30rem;
    }
  }
}

.contact_button_area {
  & .contact_submit_button {
    & p::after,
    & p::before {
      display: none;
    }
  }

  & .contact_previous_button {
    & p::after,
    & p::before {
      display: none;
    }
  }
}





.contact_button_area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 100rem auto 0;
  width: 780rem;

  @include media() {
    flex-direction: column;
  }

  & .contact_submit_button,
  & .contact_previous_button {
    margin: 0;
  }
}

.contact-send {
  & .wp-block-button {
    margin: 100rem auto 0;
    width: 360rem;
    height: 75rem;
    border-radius: 150rem;
    text-align: center;

    @include media() {
      margin-top: 136rem;
      width: 654rem;
      height: 112rem;
    }

    & a {
      position: relative;
      display: block;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      height: 100%;
      border: 2rem solid #ffa050;
      font-weight: $medium;
      font-size: 22rem;

      @include media() {
        font-size: 30rem;
      }

      &::after {
        content: '';
        position: absolute;
        top: 50%;
        right: 20rem;
        display: block;
        width: 30rem;
        height: 30rem;
        background-image: url(../image/contact_arrow-previous.svg);
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;
        transform: translateY(-50%);

        @include media() {
          right: 24rem;
          width: 46rem;
          height: 46rem;
        }
      }
    }
  }
}

.contact-confirm,
.contact-send {
  & .wp-block-heading {
    text-align: center;
    font-weight: $bold;
    font-size: 28rem;

    @include media() {
      font-size: 40rem;
    }
  }

  .confirm_text {
    display: inline-block;
    width: 530rem;
    text-align: left;

    @include media() {
      margin-top: 15rem;
      width: 680rem;
      line-height: 1.93;
    }
  }

  & p {
    margin-top: 52rem;
    text-align: center;
    font-weight: $regular;
    font-size: 22rem;
    line-height: 1.77;

    @include media() {
      font-size: 30rem;
      line-height: 1.93;
    }
  }
}

.form_box {
  display: flex;
  margin-top: 50rem;

  @include media() {
    flex-direction: column;
    margin: 40rem auto 0;
    width: 274rem;
  }

  &:first-child {
    margin-top: 0;
  }

  & p {
    margin-top: 0;
  }

  &.form_text {
    align-items: flex-start;

    .form_label {
      margin-top: 24rem;

      @include media() {
        margin-top: 0;
      }

      .mw_wp_form_confirm & {
        margin-top: 0;
      }
    }
  }
}

label[for='input_resume'] + p {
  display: none !important;
}

.contact_submit_button {
  & br {
    display: none;
  }
}

.contact_form_container {
  margin-top: 100rem;

  @include media() {
    margin: 90rem auto 0;
    width: 340rem;
  }
}

// 希望職種選択欄
.form_select {
  position: relative;
  width: fit-content;

  @include media() {
    margin-top: 15rem;
  }

  & .form_parts {
    display: inline;
    padding-right: 100rem;
    width: auto;

    @include media() {
      margin-top: 0;
      padding-right: 50rem;
      white-space: inherit;
    }
  }

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 30rem;
    display: block;
    width: 14rem;
    height: 14rem;
    border: 1rem solid $color_black;
    border-top: 0;
    border-left: 0;
    transition: .6s;
    transform: translateY(-50%) rotate(45deg);

    @include media() {
      right: 20rem;
      width: 7rem;
      height: 7rem;
    }
  }

  .mw_wp_form_preview &::after {
    display: none;
  }
}

.form_tel {
  @include media() {
    margin-top: 15rem;
  }

  .form_parts {
    @include media() {
      margin-top: 0;
      width: 67rem !important;

      &[name='tel[data][0]'] {
        width: 60rem;
      }
    }
  }
}

.contact_form .resume_box {
  display: flex;
  flex-direction: column;

  & p {
    margin-top: 10rem;
    font-size: 18rem;

    @include media() {
      margin-top: 0;
      line-height: 1;
    }
  }

  & .form_parts {
    display: inline;
    padding: 0;
    width: auto;
    background-color: transparent;

    @include media() {
      margin-top: 0;
    }
  }
}

.resume_box {
  & span {
    @include media() {
      font-size: 10rem;
    }
  }
}

.resume_inner {
  display: flex;

  @include media() {
    align-items: center;
  }
}


.mwform-file-delete {
  display: flex;
  margin-left: 20rem;
  font-size: 20rem;

  @include media() {
    margin-left: 0;
  }

  &::after {
    content: '削除する';
    display: block;
    margin-left: 5rem;

    @include media() {
      margin-left: 0;
    }
  }
}





// 送信確認ボタン


.contact_submit_button {
  display: flex;
  gap: 10rem;

  & input {
    display: block;
    margin: 80rem auto 0;
    width: 330rem;
    height: 70rem;
    height: 70rem;
    border-radius: 100rem;
    background-color: #fff;
    color: $color_black;
    text-align: center;
    transition: opacity .4s;

    @include hover {
      opacity: .6;
    }
    @include media() {
      margin-top: 50rem;
      width: 200rem;
      height: 42rem;
      font-weight: $bold;
      font-size: 12rem;
    }

    & p {
      margin-top: 0;
    }
  }
}

.mwform-radio-field .form_parts {
  width: auto;
}

.mw_wp_form .horizontal-item + .horizontal-item {
  @include media() {
    margin: 0;
  }
}




// エラーメッセージの調整
.form_box {
  position: relative;
}

.mw_wp_form .error {
  position: absolute;
  bottom: -35rem;
  left: 350rem;

  @include media() {
    bottom: -25rem;
    left: 0;
    font-size: 13rem;
  }
}

.check_box {
  position: relative;

  @include media() {
    margin-left: calc(50% - 50vw);
    max-width: none;
    width: 100vw;
  }

  .mw_wp_form_confirm & {
    display: none;
  }
}

.check_box .error {
  position: absolute;
  bottom: -30rem;
  left: 50%;
  transform: translateX(-50%)
}

// 送信完了画面
.mw_wp_form_complete h3.wp-block-heading {
  margin-bottom: 50rem;

  @include media() {
    margin-bottom: 25rem;
    font-size: 18rem;
  }
}

.mw_wp_form_complete p {
  @include media() {
    font-size: 13rem;
  }
}
